
<%= form_with model: place, 
local: true, 
data:{
  controller: "maps",
  action: "google-maps-callback@window->maps#initMap"
} do |form| %>
    <% if place.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(place.errors.count, "error") %> prohibited this place from being saved:</h2>

        <ul>
          <% place.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :address %>
      <%= form.search_field :address, placeholder: "Search City", 'data-target' => "maps.field" %>
    </div>

    <div class="field">
      <%= form.label :latitude %>
      <%= form.text_field :latitude, 'data-target' => "maps.longitude" %>
    </div>

    <div class="field">
      <%= form.label :longitude %>
      <%= form.text_field :longitude, 'data-target' => "maps.longitude" %>
    </div>

    <div>
      <div data-maps-target="map" , class='map' , style="width:50%; height:400px; position: relative; overflow: hidden"></div>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
